body{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #333333;
}

footer{text-align: center;}

input{
    width: 70%;
    margin: auto;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner{
    width: auto;
    height: auto; 
    text-align: center;
    background: #292929;
    box-shadow: 0px 1px 5px #1F1F1F;
}

.logo {filter: invert(100%)}

.baseButton{
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

.button{
    margin-top: 5%;
    padding: 1%;
    color: #ffffff;
    border: none;
    border-radius: 5%;
    background-color: #95A3B3;
    box-shadow: 0px 4px 5px #1F1F1F;
    font-size: medium;
    font-family: 'Roboto Condensed', sans-serif;
}

.button:hover {background-color: #3C4753}

.button:active {background-color: #3C4753;}

.content{
    width: 50vh;
    height: 30vh;
    margin: auto;
    margin-top: 1%;
    padding: 3%;
    text-align: center;
    border-radius: 5px;
    background: #292929;
    box-shadow: 0px 3px 5px #1F1F1F;
}
#base{
    font-size: large;
    color: #4CAF50;    
}